<!-- templates/playlists_index.html -->
{% extends 'base.html' %}
{% block content %}
<div>
    <h1 style="text-align: center; margin-top:40px">Hello and Welcome to the Random Story Builder</h1>
    <button style="margin: 20px;margin-left:20px;">Start New Story</button>

    <form method="post" action=".">
        <fieldset>
            <legend>Please Input this information</legend>
            <table class="table" style=" display: table-cell;
            vertical-align: inherit;">
                <tr>
                  <td>Please Input your pronoun of choice: <input name='pronoun' required></td>
                  <br/>
                  <td>Please input a noun<input name='noun' required></td>
                  <br/>
                  <td>Please input a adejective<input name='adjective' required></td>
                  <br/>
                  <td>Please input a verb: <input name='verb' required></td>
                </tr>
              </table>
            <input type='submit' value='Submit Form'>
        </fieldset>
    </form>
</div>
{% endblock %}