<!-- templates/playlists_index.html -->
{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center; margin-top:40px">Hello and Welcome to the Random Story Builder</h1>
    <button style="margin: 20px;margin-left:20px;">Start New Story</button>

    <form method="post" action=".">
        <fieldset>
            <legend>Please Input this information</legend>
            <table class="table">
                <tr>
                    <th>

                    </th>
                </tr>
                <tr>
                  <td>Please Input your pro noun of choice: <input name='pronoun'></td>
                  <br/>
                  <td>Please input your name: <input name='name'></td>
                  <br/>
                  <td>Please input a verb: <input name='verb1'></td>
                  <br/>
                  <td>Please input a verb: <input name='verb2'></td>
                </tr>
              </table>
            <input type='submit' value='Submit Form'>
        </fieldset>
    </form>
        
{% endblock %}